* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.card img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-img-logo {
  width: 145px;
}

header img {
  display: block;
  margin: 32px auto 16px auto;
  height: 40px;
}

.header__location {
  text-align: center;
  background-color: #eaeaea;
  padding: 16px 0;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  font-weight: 500;
}
.header__location i {
  padding-right: 10px;
}

.header__block {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 64px;
}
.header__block h1 {
  padding: 38px 0;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 28px;
}
.header__block h4 {
  font-weight: 400;
  color: #696969;
  margin-bottom: 42px;
  margin-left: 20px;
  margin-right: 20px;
}
.header__block button {
  border: none;
  color: #fff;
  padding: 20px 36px;
  border-radius: 34px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 107%);
}

.how__title {
  margin: 60px 0 40px 16px;
}

.nav li {
  list-style: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  margin: 0 auto 22px auto;
  width: 88%;
  border-radius: 24px;
  box-shadow: 0px 0px 9px 2px rgba(191, 191, 191, 0.35);
}
.nav li i {
  margin-right: 16px;
}

.nav .number {
  background-color: #9356dc;
  color: #fff;
  position: absolute;
  height: 18px;
  width: 18px;
  font-size: 9px;
  border-radius: 18px;
  margin-left: -39px;
}
.nav .number .numbers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li:hover {
  background-color: #f5edff;
}
li:hover .nav__icon {
  color: #9356dc;
}

.main__section {
  background-color: #eaeaea;
  margin-top: 40px;
}
.main__section > h2 {
  padding: 60px 0 24px 16px;
}

section a {
  text-decoration: none;
  color: #000;
}

.card {
  border-radius: 16px;
  margin: 0 16px 24px 16px;
  position: relative;
  box-shadow: 0px 5px 9px 2px rgba(191, 191, 191, 0.35);
}
.card img {
  border-radius: 16px 16px 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-description {
  background-color: #fff;
  border-radius: 0 0 16px 16px;
  padding: 12px 0 12px 16px;
  display: flex;
  justify-content: space-between;
}
.card .card-description h3 {
  padding-bottom: 4px;
}

.new__rectangle {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
}
.new__rectangle p {
  font-weight: 400;
  text-align: center;
  padding-top: 6px;
  color: #048969;
}

.card-section:last-child {
  padding-bottom: 64px;
}

.contour-heart {
  font-size: 20px;
  padding-top: 10px;
}

.purple-heart {
  display: inline;
  background: linear-gradient(200deg, #9356dc, #ff79da);
  visibility: hidden;
  font-size: 20px;
  position: relative;
  right: 24px;
}

.heart-icon--swap:hover {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.heart-icon--swap:hover {
  cursor: pointer;
}
.heart-icon--swap:hover .contour-heart {
  visibility: hidden;
}
.heart-icon--swap:hover .purple-heart {
  -webkit-background-clip: text;
          background-clip: text;
  visibility: visible;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
.footer h3 {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  margin: 24px 20px 12px 0;
}
.footer a {
  text-decoration: none;
  color: #fff;
  padding-left: 16px;
  margin-bottom: 5px;
  font-size: 15px;
}
.footer a i {
  padding-right: 12px;
}

.footer:last-child {
  padding-bottom: 24px;
}/*# sourceMappingURL=main.css.map */