* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.menu-card__item {
  -webkit-animation: stagger 500ms 250ms ease-out both;
          animation: stagger 500ms 250ms ease-out both;
}
.menu-card__item--1 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.menu-card__item--2 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.menu-card__item--3 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.menu-card__item--4 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.menu-card__item--5 {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
.menu-card__item--6 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.menu-card__item--7 {
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}
.menu-card__item--8 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.menu-card__item--9 {
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
.menu-card__item--10 {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

@-webkit-keyframes stagger {
  0% {
    transform: translateY(-9999px);
  }
  50% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes stagger {
  0% {
    transform: translateY(-9999px);
  }
  50% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
.menu__title--1 {
  opacity: 0;
  -webkit-animation: title-appearance 500ms 250ms forwards;
          animation: title-appearance 500ms 250ms forwards;
}

.menu__title--2 {
  opacity: 0;
  -webkit-animation: title-appearance 500ms 1125ms forwards;
          animation: title-appearance 500ms 1125ms forwards;
}

.menu__title--3 {
  opacity: 0;
  -webkit-animation: title-appearance 500ms 1885ms forwards;
          animation: title-appearance 500ms 1885ms forwards;
}

@-webkit-keyframes title-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hr--1 {
  -webkit-animation: hr-slide 1000ms 250ms forwards;
          animation: hr-slide 1000ms 250ms forwards;
}
.hr--2 {
  -webkit-animation: hr-slide 1000ms 1125ms forwards;
          animation: hr-slide 1000ms 1125ms forwards;
}
.hr--3 {
  -webkit-animation: hr-slide 1000ms 1885ms forwards;
          animation: hr-slide 1000ms 1885ms forwards;
}

@-webkit-keyframes hr-slide {
  0% {
    width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 55px;
    opacity: 1;
  }
}

@keyframes hr-slide {
  0% {
    width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 55px;
    opacity: 1;
  }
}
.checkbox {
  -webkit-animation: check-out 750ms ease;
          animation: check-out 750ms ease;
}
.checkbox .circle--white {
  transform: translate(-10%, -50%) scale(0);
  transition: all 750ms ease;
}
.checkbox i {
  transform: translate(-50%, -50%) rotate(360deg);
  transition: transform 750ms;
}

.menu-card__item:hover .checkbox {
  -webkit-animation: check-in 750ms ease forwards;
          animation: check-in 750ms ease forwards;
}
.menu-card__item:hover .circle--white {
  transform: translate(-50%, -50%) scale(1);
}
.menu-card__item:hover .fa-check {
  transform: translate(-50%, -50%) rotate(0deg);
}

@-webkit-keyframes check-in {
  0% {
    width: 0;
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    width: 69px;
    opacity: 1;
  }
}

@keyframes check-in {
  0% {
    width: 0;
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    width: 69px;
    opacity: 1;
  }
}
@-webkit-keyframes check-out {
  from {
    width: 69px;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
@keyframes check-out {
  from {
    width: 69px;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
.home-page {
  position: relative;
  -webkit-animation: load-opac 2200ms;
          animation: load-opac 2200ms;
  opacity: 1;
}

@-webkit-keyframes load-opac {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load-opac {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.load-text {
  position: fixed;
  font-size: 6vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-animation: text-gone 1850ms forwards;
          animation: text-gone 1850ms forwards;
}
.load-text__l {
  color: #9356dc;
  -webkit-animation: frog 170ms;
          animation: frog 170ms;
}
.load-text__o {
  color: #9356dc;
  -webkit-animation: frog 170ms 170ms;
          animation: frog 170ms 170ms;
}
.load-text__a {
  color: #9356dc;
  -webkit-animation: frog 170ms 340ms;
          animation: frog 170ms 340ms;
}
.load-text__d {
  color: #9356dc;
  -webkit-animation: frog 170ms 510ms;
          animation: frog 170ms 510ms;
}
.load-text__i {
  color: #9356dc;
  -webkit-animation: frog 170ms 680ms;
          animation: frog 170ms 680ms;
}
.load-text__n {
  color: #9356dc;
  -webkit-animation: frog 170ms 850ms;
          animation: frog 170ms 850ms;
}
.load-text__g {
  color: #9356dc;
  -webkit-animation: frog 170ms 1020ms;
          animation: frog 170ms 1020ms;
}
.load-text__d1 {
  color: #9356dc;
  -webkit-animation: frog 170ms 1190ms;
          animation: frog 170ms 1190ms;
}
.load-text__d2 {
  color: #9356dc;
  -webkit-animation: frog 170ms 1360ms;
          animation: frog 170ms 1360ms;
}
.load-text__d3 {
  color: #9356dc;
  -webkit-animation: frog 170ms 1530ms;
          animation: frog 170ms 1530ms;
}

@-webkit-keyframes frog {
  0% {
    color: #9356dc;
  }
  50% {
    color: #ff79da;
  }
  100% {
    color: #99e2d0;
  }
}

@keyframes frog {
  0% {
    color: #9356dc;
  }
  50% {
    color: #ff79da;
  }
  100% {
    color: #99e2d0;
  }
}
@-webkit-keyframes text-gone {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes text-gone {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.spin {
  border: solid 5px #9356dc;
  border-bottom-color: #ff79da;
  border-top-color: #99e2d0;
  border-left-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 52%;
  left: 41%;
  opacity: 0;
  -webkit-animation: spinner 1850ms ease-out;
          animation: spinner 1850ms ease-out;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(630deg);
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(630deg);
    opacity: 0;
  }
}
@media screen and (min-width: 1024px) {
  .spin {
    top: 55%;
    left: 45%;
  }
  .how__title {
    text-align: center;
    margin-top: 45px;
    font-size: 2vw;
  }
  .nav ul {
    display: flex;
    justify-content: space-around;
  }
  .nav ul li {
    max-width: 300px;
  }
  .main__section > h2 {
    text-align: center;
    font-size: 3.5vw;
    padding-top: 30px;
  }
  .card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .card {
    width: 46vw;
  }
  .card img {
    height: 45vh;
  }
  .footer h3 {
    text-align: center;
    font-size: 28px;
    margin-top: 28px;
    margin-bottom: 26px;
  }
  .footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer a {
    font-size: 18px;
  }
}/*# sourceMappingURL=media.css.map */