* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.menu-card__item {
  -webkit-animation: stagger 500ms 250ms ease-out both;
          animation: stagger 500ms 250ms ease-out both;
}
.menu-card__item--1 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.menu-card__item--2 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.menu-card__item--3 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.menu-card__item--4 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.menu-card__item--5 {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
.menu-card__item--6 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
.menu-card__item--7 {
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}
.menu-card__item--8 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.menu-card__item--9 {
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
.menu-card__item--10 {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

@-webkit-keyframes stagger {
  0% {
    transform: translateY(-9999px);
  }
  50% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes stagger {
  0% {
    transform: translateY(-9999px);
  }
  50% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
.menu__title--1 {
  opacity: 0;
  -webkit-animation: title-appearance 500ms 250ms forwards;
          animation: title-appearance 500ms 250ms forwards;
}

.menu__title--2 {
  opacity: 0;
  -webkit-animation: title-appearance 500ms 1125ms forwards;
          animation: title-appearance 500ms 1125ms forwards;
}

.menu__title--2-4 {
  opacity: 0;
  -webkit-animation: title-appearance 500ms 1395ms forwards;
          animation: title-appearance 500ms 1395ms forwards;
}

.menu__title--3 {
  opacity: 0;
  -webkit-animation: title-appearance 500ms 1885ms forwards;
          animation: title-appearance 500ms 1885ms forwards;
}

.menu__title--3-4 {
  opacity: 0;
  -webkit-animation: title-appearance 500ms 2085ms forwards;
          animation: title-appearance 500ms 2085ms forwards;
}

@-webkit-keyframes title-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hr--1 {
  -webkit-animation: hr-slide 1000ms 250ms forwards;
          animation: hr-slide 1000ms 250ms forwards;
}
.hr--2 {
  -webkit-animation: hr-slide 1000ms 1125ms forwards;
          animation: hr-slide 1000ms 1125ms forwards;
}
.hr--2-4 {
  -webkit-animation: hr-slide 1000ms 1385ms forwards;
          animation: hr-slide 1000ms 1385ms forwards;
}
.hr--3 {
  -webkit-animation: hr-slide 1000ms 1885ms forwards;
          animation: hr-slide 1000ms 1885ms forwards;
}
.hr--3-4 {
  -webkit-animation: hr-slide 1000ms 2060ms forwards;
          animation: hr-slide 1000ms 2060ms forwards;
}

@-webkit-keyframes hr-slide {
  0% {
    width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 55px;
    opacity: 1;
  }
}

@keyframes hr-slide {
  0% {
    width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 55px;
    opacity: 1;
  }
}
.checkbox {
  -webkit-animation: check-out 750ms ease;
          animation: check-out 750ms ease;
}
.checkbox .circle--white {
  transform: translate(-10%, -50%) scale(0);
  transition: all 750ms ease;
}
.checkbox i {
  transform: translate(-50%, -50%) rotate(360deg);
  transition: transform 750ms;
}

.menu-card__item:hover .checkbox {
  -webkit-animation: check-in 750ms ease forwards;
          animation: check-in 750ms ease forwards;
}
.menu-card__item:hover .circle--white {
  transform: translate(-50%, -50%) scale(1);
}
.menu-card__item:hover .fa-check {
  transform: translate(-50%, -50%) rotate(0deg);
}

@-webkit-keyframes check-in {
  0% {
    width: 0;
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    width: 69px;
    opacity: 1;
  }
}

@keyframes check-in {
  0% {
    width: 0;
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    width: 69px;
    opacity: 1;
  }
}
@-webkit-keyframes check-out {
  from {
    width: 69px;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
@keyframes check-out {
  from {
    width: 69px;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
.return-btn-logo {
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  font-size: 24px;
  top: 4.5px;
  left: 12px;
}

.ohmyfood__menu--logo {
  display: block;
  margin: 32px auto 16px auto;
  height: 32px;
}

main {
  background-color: #f6f6f6;
}

.img-cover img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 200px;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  position: relative;
  margin-top: -25px;
  margin-bottom: 32px;
}
.menu-title h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  padding: 28px 0 0 16px;
}
.menu-title i {
  font-size: 24px;
  padding: 28px 24px 0 0;
}

.menu {
  margin: 0 16px;
}
.menu h2 {
  font-weight: 400;
  color: #696969;
  margin-bottom: 5px;
}
.menu hr {
  opacity: 0;
  width: 0;
  border: 2px solid #99e2d0;
  background-color: #99e2d0;
  margin-bottom: 20px;
}

.menu-card__item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0px 0px 9px 2px rgba(191, 191, 191, 0.35);
  margin-bottom: 16px;
}

.menu-card__description {
  min-width: 50vw;
}
.menu-card__description h3 {
  padding: 8px 1px 3px 12px;
}
.menu-card__description p {
  padding: 8px 1px 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__description p:active {
  white-space: normal;
  overflow: visible;
}

.menu-card__price-checkbox {
  display: flex;
}
.menu-card__price-checkbox .price {
  font-weight: 500;
  align-self: flex-end;
  margin-bottom: 8px;
  margin-right: 24px;
}

.checkbox {
  position: relative;
  border-radius: 0 18px 18px 0;
  background-color: #99e2d0;
}
.checkbox .circle--white {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}
.checkbox i {
  color: #99e2d0;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.order-btn {
  border: none;
  color: #fff;
  padding: 20px 75px;
  border-radius: 34px;
  font-size: 16px;
  display: block;
  margin: 50px auto 65px auto;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 107%);
}
.order-btn:hover {
  cursor: pointer;
  background: linear-gradient(175deg, #ff88de 0%, #a16be0 107%);
  box-shadow: 0px 2px 8px 4px rgba(187, 187, 187, 0.65);
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
.footer h3 {
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  margin: 24px 20px 12px 0;
}
.footer__info {
  display: flex;
  flex-direction: column;
}
.footer a {
  text-decoration: none;
  color: #fff;
  padding-left: 16px;
  margin-bottom: 5px;
  font-size: 15px;
}
.footer a i {
  padding-right: 12px;
}

.footer:last-child {
  padding-bottom: 24px;
}/*# sourceMappingURL=menu.css.map */