@import "./variables";

// menu item one-by-one
$anim-dur: 500ms;
$anim-delay: $anim-dur / 2;

.menu-card__item {
  animation: stagger $anim-dur $anim-delay ease-out both;

  @for $i from 1 through 10 {
    &--#{$i} {
      animation-delay: $anim-delay * $i;
    }
  }
}
// comes from the top animation
@keyframes stagger {
  0% {
    transform: translateY(-9999px);
  }
  50% {
    transform: translateY(-50%);
    opacity: 0; // smooth out transition
  }
  100% {
    transform: translateY(0);
  }
}

// ----- menu titles appearance -----

$title-dur: 500ms;

.menu__title--1 {
  opacity: 0;
  animation: title-appearance $title-dur 250ms forwards;
}
.menu__title--2 {
  opacity: 0;
  animation: title-appearance $title-dur 1125ms forwards;
}
.menu__title--3 {
  opacity: 0;
  animation: title-appearance $title-dur 1885ms forwards;
}

@keyframes title-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ----- horizontal rule sliding out -----

.hr {
  &--1 {
    animation: hr-slide 1000ms 250ms forwards;
  }
  &--2 {
    animation: hr-slide 1000ms 1125ms forwards;
  }
  &--3 {
    animation: hr-slide 1000ms 1885ms forwards;
  }
}

@keyframes hr-slide {
  0% {
    width: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    width: 55px;
    opacity: 1;
  }
}

// ------ check box animation sliding out -----

.checkbox {
  // animation
  animation: check-out 750ms ease;

  & .circle--white {
    // animation
    transform: translate(-10%, -50%) scale(0); // scale 2nd !
    transition: all 750ms ease;
  }

  & i {
    // animation
    transform: translate(-50%, -50%) rotate(360deg);
    transition: transform 750ms;
  }
}

// checkbox animation on hover
.menu-card__item {
  &:hover {
    .checkbox {
      animation: check-in 750ms ease forwards;
    }
    .circle--white {
      transform: translate(-50%, -50%) scale(1);
    }
    .fa-check {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}
// tried hover:not
// .menu-card__item {
//   &:not(:hover) {
//     .checkbox {
//       animation: check-out 750ms ease;
//     }
//   }
// }

// check-in working
@keyframes check-in {
  0% {
    width: 0;
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  100% {
    width: 69px;
    opacity: 1;
  }
}
// but check-out does not
// opacity is ignored
@keyframes check-out {
  from {
    width: 69px;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
