$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$text-color: #000;

// colors picked
// #696969  (text-color-grey)
// #eaeaea  (dark grey)
// #f6f6f6  (grey)
// #048969  (text green)
// #353535  (footer black)
// #f5edff  (light pink)

//fonts
// font-family: "Roboto", sans-serif;
// font-family: "Shrikhand", cursive;

// MAP
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
// $mobile: 800px;
