$border-rad: 2rem;
$clr-btn: #15dea5;

.btn {
  border-radius: $border-rad;
  background-color: $clr-btn;
  position: relative;
  z-index: 1;
  width: 200px;
  height: 150px;

  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &::after {
    // style the after pseudo selector here
    border-radius: $border-rad;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(
      circle,
      lighten($clr-btn, 5) 0%,
      darken($clr-btn, 10) 100%
    );
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    content: "";
    // content: " I am after";
  }
}

.btn {
  &:active {
    & > .progress__bar {
      // animation-name: progress-bar;
      // animation-duration: 1000ms;
      animation: progress-bar 1000ms;
    }
  }
}

@keyframes progress-bar {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
