@import "./resets";
@import "./variables";
// temporary for html structure
.card img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.footer-img-logo {
  width: 145px;
}

.img-cover img {
  width: 200px;
}
// --------------------------
body {
  font-family: "Roboto", sans-serif;
}

header img {
  display: block;
  margin: 32px auto 16px auto;
  height: 40px;
}

.location {
  text-align: center;
  background-color: #eaeaea;
  padding: 16px 0;
  border-top: 2px solid black;

  & i {
    padding-right: 10px;
  }
}
