@import "./resets";
@import "./variables";
@import "./animMenu";

// ----- Header -----

// logo & home-arrow div
.return-btn-logo {
  position: relative;
}

.fa-arrow-left {
  position: absolute; // remove from flow
  font-size: 24px;
  top: 4.5px;
  left: 12px;
}

.ohmyfood__menu--logo {
  display: block; // to auto center
  margin: 32px auto 16px auto;
  height: 32px;
}

// ---------- Main section ----------

main {
  background-color: #f6f6f6;
}

// ----- Title & cover img -----

.img-cover img {
  width: 100%;
  object-fit: cover; // if height changes - picture doesn't crumble
  height: 220px;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  position: relative;
  margin-top: -25px;
  margin-bottom: 32px;

  & h1 {
    font-family: "Shrikhand", cursive;
    font-weight: map-get($font-weights, "regular");
    padding: 28px 0 0 16px;
  }

  & i {
    font-size: 24px;
    padding: 28px 24px 0 0;
  }
}

// ----- Menu -----

.menu {
  margin: 0 16px; // global for the whole menu section

  & h2 {
    font-weight: map-get($font-weights, "regular");
    color: #696969;
    margin-bottom: 5px;
  }

  & hr {
    // width: 55px;
    opacity: 0;
    width: 0;
    border: 2px solid $tertiary-color;
    background-color: $tertiary-color;
    margin-bottom: 20px;
  }
}

// ----- Menu-card -----

.menu-card__item {
  display: flex;
  justify-content: space-between;

  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0px 0px 9px 2px rgb(191 191 191 / 35%);
  margin-bottom: 16px;
}
// -------------------------------
.menu-card__description {
  min-width: 50vw; // needs a width property for ellipses to work properly

  & h3 {
    padding: 8px 1px 3px 12px;
  }

  & p {
    padding: 8px 1px 8px 12px;
    // text ellipsis 3 lines necessary
    // need a width property...
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // to be able to see rest of the text on click
    &:active {
      white-space: normal;
      overflow: visible;
    }
  }
}

.menu-card__price-checkbox {
  display: flex;

  & .price {
    font-weight: map-get($font-weights, "medium");
    align-self: flex-end;
    margin-bottom: 8px;
    margin-right: 24px;
  }
}

// green sliding box
.checkbox {
  position: relative;
  border-radius: 0 18px 18px 0;
  background-color: $tertiary-color;

  & .circle--white {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    // centering icon inside div
    position: absolute;
    top: 50%; // adjust to the size of icon
    left: 50%;
    // transform: translate moved to animMenu
  }

  & i {
    color: $tertiary-color;
    font-size: 14px;
    // centering icon inside div
    position: absolute;
    top: 50%; // adjust to the size of icon
    left: 50%;
    // transform: translate moved to animMenu
  }
}

// Order Button

.order-btn {
  border: none;
  color: #fff;
  padding: 20px 75px;
  border-radius: 34px;
  font-size: 16px;
  display: block;
  margin: 50px auto 65px auto;

  background: linear-gradient(175deg, $secondary-color 0%, $primary-color 107%);

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      175deg,
      lighten($secondary-color, 3%) 0%,
      lighten($primary-color, 5%) 107%
    );
    box-shadow: 0px 2px 8px 4px rgba(187, 187, 187, 0.65);
  }
}

// ---------- Footer ----------
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;

  & h3 {
    color: #fff;
    font-family: "Shrikhand", cursive;
    font-weight: map-get($font-weights, "regular");
    font-size: 18px;
    margin: 24px 20px 12px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  & a {
    text-decoration: none;
    color: #fff;
    padding-left: 16px;
    margin-bottom: 5px;
    font-size: 15px;

    & i {
      padding-right: 12px;
    }
  }
}

.footer:last-child {
  padding-bottom: 24px;
}
